@charset "UTF-8";


/**CABECALHO**/
.cabecalhoPrincipal {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
}

/**BANNER**/

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}




/**CONTEUDO PRINCIPAL**/

.conteudoPrincipal .container {
    display: flex;
    flex-direction: column;
}

.conteudoPrincipal-index .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudoPrincipal-lista {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.conteudoPrincipal-index-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
}

/**RODAPE**/

.rodapePrincipal {
    display: flex;
    flex-direction: column;
}

.rodapePrincipal .container {
    display: flex;
    justify-content: space-around;
}

.rodapePrincipal-direitos-autorais {
    display: flex;
    align-items: center;
    justify-content: center;
}