@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}






/**CONFIGURAÇÃO BÁSICA/GERAL**/

a{
    text-decoration: none;
}




/**MENU PRINCIPAL**/

.cabecalhoPrincipal {
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
}

.cabecalhoPrincipal-index {
    width: 100%;
    height: 100px;
    position: fixed;
}

.cabecalhoPrincipal .container {
    width: 80%;
    height: 70px;
}

.cabecalhoPrincipal-titulo, .cabecalhoPrincipal-menu-botao {
    margin-left: 30px;
    margin-right: 30px;
}

.cabecalhoPrincipal-titulo-link-img {
    width: 170px;
    margin-right: 40px;
}

.cabecalhoPrincipal-titulo-link-img-index {
    width: 200px;
}


.cabecalhoPrincipal-menu-link {
    margin-left: 10px;
    color: white;
    font-weight: bold;
}

.cabecalhoPrincipal-menu-botao, .cabecalhoPrincipal-menu-botao-index {
    border: none;
    height: 38px;
    width: 70px;
    background: red;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
}

.cabecalhoPrincipal-menu-botao-link, .cabecalhoPrincipal-menu-botao-link-index {
    color: white;
}





/**BANNER**/

.banner {
    width: 100%;
    height: 400px;
    background-image: url(imagens/banner.jpg);
    background-position: center;
    background-size: cover;
    border-bottom: 5px rgb(73, 71, 71) solid;
}

.banner .container {
    margin-left: 30px;
    margin-top: 100px;
}

.banner-descricao {
    width: 560px;
    height: 50px;
    margin-bottom: 50px;
}

.banner-titulo {
    font-size: 25pt;
    color: white;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.banner-descricao-paragrafo {
    color: white;
    font-weight: bold;
    font-size: 13pt;
}

.banner-assista-botao {
    width: 110px;
    height: 40px;
    background: white;
    border: none;
    border-radius: 3px;
    padding: 5px;
    margin-right: 20px;
}

.banner-infos-botao {
    width: 180px;
    height: 40px;
    background: white;
    opacity: 0.7;
    border: none;
    border-radius: 3px;
    padding: 5px;
}

.banner-assista-botao-link {
    color: black;
    font-weight: bold;
    font-size: 13pt;
}




/**CONTEUDO PRINCIPAL**/

.conteudoPrincipal {
    width: 100%;
    height: 100%;
    background-color: rgba(41, 40, 40);
}

.conteudoPrincipal-index {
    width: 100%;
    height: 100vh;
    background: url(imagens/netflix-image.jpg);
    background-size: cover;
}

.conteudoPrincipal-index .container {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.conteudoPrincipal-index-titulo {
    font-size: 35pt;
    color: white;
    font-weight: bold;
    margin-bottom: 17px;
    text-align: center;
    margin-top: 30px;
}

.conteudoPrincipal-index-subtitulo {
    font-size: 20pt;
    text-align: center;
    color: white;
}

.conteudoPrincipal-index-subtitulo-paragrafo-form{
    margin-top: 50px;
    font-size: 15pt;
    margin-bottom: 25px;
    font-weight: 300;
}

.conteudoPrincipal-subtitulo {
    text-transform: capitalize;
    margin-top: 3%;
    margin-left: 3%;
    color: white;
    font-size: 20pt;
    font-weight: bold;
}

.conteudoPrincipal-index-formulario {
    width: 800px;
}

.conteudoPrincipal-index-formulario-input {
    width: 500px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 2px;
}

.conteudoPrincipal-index-formulario-botao {
    width: 200px;
    height: 60px;
    border: none;
    background: red;
    border-left: 1px rgba(0, 0, 0, alpha) solid;
    border-radius: 2px;
}

.conteudoPrincipal-index-cadastro-botao-link {
    font-size: 18pt;
    color: white;
}

.conteudoPrincipal-lista {
    list-style: none;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.conteudoPrincipal-lista-banner {
    width: 238px;
    height: 350px;
    margin: 10px auto 30px auto;
}

.conteudoPrincipal-lista-banner:hover {
    border: 1px rgba(255, 255, 255, 0.6) solid;
    width: 300px;
    height: 400px;
    transition: 0.5s;
}





/**RODAPÉ**/

.rodapePrincipal {
    border-top: 5px rgb(73, 71, 71) solid;
    background: black;
    padding: 30px;  
}

.rodapePrincipal .container {
    width: 90%;
    margin: 0 auto;
}

.rodapePrincipal-duvidas-item, .rodapePrincipal-direitos-autorais-item {
    margin-top: 20px;
    margin-right: 30px;
}

.rodapePrincipal-duvidas-item-link, .rodapePrincipal-direitos-autorais-item-link {
    color: white;
    opacity: .7;
}

.copyright {
    color: white;
    margin-top: 10%;
    opacity: .7;
}

.rodapePrincipal-icone {
    margin-left: 10px;
    width: 25px;
    color: white;
}

.rodapePrincipal-direitos-autorais {
    margin-top: 20px;
    width: 100%;
}


/**MEDIA QUERIES**/

@media (max-width: 600px) {

.cabecalhoPrincipal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: absolute;
}

.cabecalhoPrincipal-index {
    position: absolute;
    justify-content: center;
}

.cabecalhoPrincipal-menu {
    display: none;
}

.cabecalhoPrincipal .container {
    width: 40%;
}

.cabecalhoPrincipal-titulo-link-img {
    width: 100px;
}

.cabecalhoPrincipal-titulo-link-img-index {
    width: 100px;
}

.cabecalhoPrincipal-menu-botao-index {
    margin-right: 20px;
}

/**BANNER**/

.banner-titulo {
    font-size: 17pt;
    font-weight: bold;
    margin: 180px 0 10px -20px;
}

.banner-descricao {
    display: none;
}

.banner-assista-botao {
    width: 70px;
    height: 35px;
    padding: 8px;
    margin-left: -20px;
}

.banner-infos-botao {
    width: 150px;
    height: 35px;
    padding: 8px;
    margin-left: -20px;
}

.banner-assista-botao-link {
    font-size: 11pt;
}

.conteudoPrincipal-lista-banner {
    width: 150px;
    height: 230px;
}

/**CONTEUDO PRINCIPAL**/ 

.conteudoPrincipal-index-titulo {
    font-size: 20pt;
}

.conteudoPrincipal-subtitulo {
    margin-top: 30px;
}

.conteudoPrincipal-index-subtitulo {
    font-size: 15pt;
}

.conteudoPrincipal-index-formulario {
    width: 50%;
}

.conteudoPrincipal-index-formulario-input {
    width: 100px;
    
}

.conteudoPrincipal-index-subtitulo-paragrafo-form {
    font-size: 12pt;
}

.conteudoPrincipal-index-formulario-botao {
    width: 150px;
}

.conteudoPrincipal-index-cadastro-botao-link {
    font-size: 11pt;
}

/**FOOTER**/ 

.rodapePrincipal .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rodapePrincipal-duvidas {
    flex-direction: column;
}

.rodapePrincipal-direitos-autorais {
    flex-direction: row;
}

}

@media (max-width: max-width: 1100px) {

.cabecalhoPrincipal {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
}

.cabecalhoPrincipal .container {
    width: 40%;
}

.cabecalhoPrincipal-menu {
    display: none;
}

.cabecalhoPrincipal-titulo-link-img {
    width: 110px;
}

.cabecalhoPrincipal-titulo-link-img-index {
    width: 150px;
}

.cabecalhoPrincipal-menu-botao-index {
    margin-right: 20px;
}

/**BANNER**/

.banner-titulo {
    font-size: 17pt;
    font-weight: bold;
    margin: 180px 0 10px -20px;
}

.banner-descricao {
    display: none;
}

.banner-assista-botao {
    width: 70px;
    height: 35px;
    padding: 8px;
    margin-left: -20px;
}

.banner-infos-botao {
    width: 150px;
    height: 35px;
    padding: 8px;
    margin-left: -20px;
}

.banner-assista-botao-link {
    font-size: 11pt;
}

.conteudoPrincipal-lista-banner {
    width: 150px;
    height: 230px;
}

/**CONTEUDO PRINCIPAL**/ 

.conteudoPrincipal-subtitulo {
    margin-top: 30px;
}

.conteudoPrincipal-index-formulario {
    width: 50%;
}

.conteudoPrincipal-index-cadastro-botao-link {
    font-size: 13pt;
}


/**FOOTER**/ 

.rodapePrincipal .container {
    justify-content: center;
    align-items: center;
}

.rodapePrincipal-duvidas {
    flex-direction: column;
}

.rodapePrincipal-direitos-autorais {
    flex-direction: row;
}
}